/*pink: (240, 121, 73)
orange: (249, 177, 49)
celeste: (198, 221, 233)
gray: (168, 161, 158)
background gray/white: (234, 234, 234)
letters gray: (224, 224, 224)
gray bottom: (119, 116, 116)*/

a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

a.home {
    color: black;
}

a.contact {
    color: black;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

h2 {
    color: white;
    margin: 0;
    font-size: xx-large;
}

h3 {
    text-align: center;
    margin: 0;
    font-size: larger;
}

.family h1 {
    margin: 0;
    margin-left: 10%;
}

.family p {
    margin: 1%;
    margin-left: 10%;
}

.family button {
    margin-left: 10%;
}

.family :nth-child(3) {
    margin-top: 1vw;
}

.biggertext {
    margin: 0;
    font-size: x-large;
    position: relative;
    top: 20%;
}

.smalltext {
    font-size: small;
}

white {
    color: white;
}

button.joinnow {
    box-shadow: 0px 4px 4px -2px rgba(196, 196, 196, 1);
    border: none;
    border-radius: 20%/50%;
    font-size: 1rem;
    font-weight: 600;
    padding: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-top: 20%;
}

p {
    color: rgba(0, 0, 0, 0.719);
}

body {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 1920px;
    min-height: 720px;
    font-family: 'Arial Narrow Bold';
    font-weight: bold;
    background-color: rgb(234, 234, 234);
}

.wrapper {
    max-width: 1920px;
    min-height: 720px;
    min-width: 880px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
}

.family {
    padding: 10%;
    padding-bottom: 30%;
    background-color: rgb(198, 221, 233);
    background-image: url("/img/family.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom right;
    grid-column: 1/2;
    grid-row: 1/3;
}

.learnmore {
    padding: 20%;
    background-color: rgb(240, 121, 73);
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
}

.jointoday {
    padding: 20%;
    background-color: rgb(249, 177, 49);
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
}

nav {
    padding: 4vh;
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
    justify-content: space-evenly;
}

.maininfo {
    display: grid;
    grid-template: 0.45fr 0.55fr/1fr;
}

.greybox {
    padding: 10%;
    padding-bottom: 30%;
    background-color: rgb(168, 161, 158);
    grid-area: 1/1/2/2;
    display: flex;
    justify-content: space-between;
}

.leftside {
    min-width: 35%;
}

.leftside h1 {
    color: white;
}

.rightside {
    margin-left: 15vw;
    margin-bottom: -15vw;
}

.generations {
    position: relative;
    bottom: 40%;
    display: flex;
    justify-content: center;
}

.generations div~h3 {
    padding-top: 8%;
}

.generations div~p {
    padding: 5%;
    text-align: center;
}

.generations>div {
    border-radius: 2%;
    position: relative;
    max-height: 50vh;
    min-height: 370px;
    min-width: 150px;
    max-width: 30%;
    margin: 2%;
    padding: 2%;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.219);
}

.generations>div>div {
    border-radius: 2%;
    position: relative;
    max-height: 53%;
       min-height: 230px;
    max-width: 105%;
    min-width: 105%;
    margin-left: -2%;
    margin-top: -25%;
}

.orangebox {
    padding: 10%;
    background-color: rgb(249, 177, 49);
    grid-area: 2/1/3/2;
}

.aboutus {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: -25%;
}

.aboutus h1 {
    color: white;
    text-align: center;
}

.children {
    background-color: white;
}

.justright {
    background-color: white;
}

.oldfart {
    background-color: white;
}

.child {
    background-image: url("/img/child.png");
    background-size: 8rem;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: rgb(198, 221, 233);
}

.adult {
    background-image: url("/img/adult.png");
    background-size: 9rem;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: rgb(249, 177, 49);
}

.senior {
    background-image: url("/img/old.png");
    background-size: 12rem;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: rgb(240, 121, 73);
}

.howitworks {
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr 1fr;
}

.howitworks>div {
    padding: 2vw;
    padding-bottom: 15vw;
}

.howitworks .box0 h1 {
    position: relative;
    top: 25%;
    text-align: center;
    color: rgba(0, 0, 0, 0.719);
}

.howitworks div p {
    text-align: center;
}

.box0 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: rgb(198, 221, 233);
}

.box1 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.box1, .box2, .box3, .box4, .box5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.number {
    align-self: flex-start;
    color: rgba(0, 0, 0, 0.473);
}

.box2 {
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: rgb(234, 234, 234);
}

.box3 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.box4 {
    background-color: rgb(240, 121, 73);
    grid-column: 2/3;
    grid-row: 2/3;
}

.box5 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.box1, .box3, .box5 {
    background-color: white;
}

.takemeup {
    text-align: center;
    background-color: rgb(168, 161, 158);
    padding-bottom: 2%;
}

.arrow {
    position: relative;
    top: 0.9rem;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    transform: rotate(135deg);
    font-weight: 2000;
    font-size: x-large;
}

.bottom {
    background-color: rgb(119, 116, 116);
    height: 50vh;
}

.banner {
    grid-area: 1/1/2/3;
    padding: 5%;
    height: 40vh;
    min-height: 250px;
    text-align: center;
    background-color: rgb(198, 221, 233);
    background-image: url("/img/man-and-baby.svg");
    background-size: 17%;
    background-repeat: no-repeat;
    background-position: bottom right 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    font-size: 4rem;
}

.sendmessage {
    padding: 10%;
    background-color: rgb(168, 161, 158);
    display: flex;
    justify-content: flex-start;
    color: white;
}

.whatsonyourmind {
    min-width: 35%;
}

.whatsonyourmind h1 {
    font-size: 3.5rem;
}

.inputmessage {
    margin-left: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button.sendmessagebutton {
    box-shadow: 0px 4px 4px -2px rgba(196, 196, 196, 1);
    border: none;
    border-radius: 20%/50%;
    font-size: 10px;
    font-weight: 600;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    align-self: flex-end;
    margin-top: 10%;
}

input {
    width: 25vw;
    height: 15%;
}

textarea#message {
    width: 25vw;
    height: 30vh;
    resize: none;
}

.map {
    min-height: 469px;
    background-size: cover;
    background-image: url(/img/map.png);
    background-repeat: no-repeat;
}

.visitus {
    position: relative;
    left: 5%;
    top: 3vw;
    padding: 2%;
    padding-bottom: 10%;
    color: white;
    min-width: 300px;
    min-height: 75px;
    max-height: 20%;
    max-width: 25%;
    background-color: rgb(249, 177, 49);
}

.visitus p {
    color: white;
}

@media screen and (max-width: 640px) {
    body {

        padding-left: 0;
        padding-right: 0;
    }

    .wrapper {
        min-width: 360px;
        justify-content: flex-start;
    }
    .howitworks {
        display: grid;
        grid-template: repeat(6, 1fr)/1fr;
    }
    .box0 {
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: rgb(198, 221, 233);
    }
    .box1 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .box2 {
        grid-column: 1/2;
        grid-row: 3/4;
        background-color: rgb(234, 234, 234);
    }
    .box3 {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .box4 {
        background-color: rgb(240, 121, 73);
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .box5 {
        grid-column: 1/2;
        grid-row: 6/7;
    }
    header {
        grid-template-columns: 1;
        grid-template-rows: 4;
    }
    .family {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .learnmore {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .jointoday {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    nav {
        display: none;
    }
    .maininfo {

        grid-template: 1fr 1fr 1fr 1fr 1fr /1fr;
    }

    .generations {
        position: relative;

        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .greybox {
 
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        grid-area: 1/1/2/2;
    }

    .orangebox {
        padding: 10%;
        background-color: rgb(249, 177, 49);
        grid-area: 2/1/6/2;
    }
    .takemeup {
        display: none;
    }

    .generations>div {
        border-radius: 2%;
        position: static;
        max-height: 100%;
        min-height: 290px;
        min-width: 250px;
        max-width: 100%;
        margin: 8%;
        margin-top: 20%;
        padding: 2%;
        box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.219);
    }

    .generations>div>div {
        border-radius: 2%;
        position: static;
        max-height: 100%;
        min-height: 230px;
        max-width: 100%;
        min-width: 250px;
        margin-left: 0%;
        margin-top: -25%;
    }

    .leftside .joinnow {
        display: none;
    }

    .leftside {
        min-width: 0;
    }
    

    
    .rightside {
        margin-left: auto;
    }

    .aboutus {
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;
    }

    .adult {
        background-color: rgb(168, 161, 158);
    }
}