/*pink: r240 g121 b73
orange: r249 g177 b49
celeste: r198 g221 b233
gray: r168 g161 b158
background gray/white: r234 g234 b234
letters gray: r224 g224 b224
gray bottom: r119 g116 b116*/

h1 {
    margin: 0;
    font-size: xx-large;
}
h2{
    margin: 0;
    font-size: x-large;
}
h3{
    margin: 0;
    font-size: larger;
}

.family p{
    margin: 0;
}

.biggertext{
    margin: 0;
    font-size: large;
}
.smalltext{
    font-size: small;
}

body {
    font-family: Times;
    background-color: rgb(234, 234, 234);
}

.wrapper {
    max-width: 1920px;
    min-width: 50vw;
}