h1 {
    margin: 0;
    font-size: xx-large;
}
h2{
    margin: 0;
    font-size: x-large;
}
h3{
    margin: 0;
    font-size: larger;
}

p {
    margin: 0;
    
}

.biggertext{
    font-size: large;
}
.smalltext{
    font-size: small;
}

body {
    font-family: Times;

    background-color: rgb(234, 234, 234);
}

.wrapper {
    max-width: 1920px;
    min-width: 50vw;
}